.button {
  position: relative;
  padding-inline: 12px;
  padding-block: 8px;
  color: var(--text-color-gray-700);
  background-color: var(--color-white);
  border: 1px solid currentColor;
  border-radius: var(--border-radius-sm);
  transition: background-color var(--transition-duration-short);
}

.button:focus-visible {
  background-color: var(--background-hover);
  outline: none;
}

@media (any-hover: hover) {
  .button:hover {
    background-color: var(--background-hover);
  }
}
