---
import { Textarea } from '../components/Textarea';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="grid place-content-center">
    <div class="container py-16 mx-auto">
      <div class="">
        <h1
          class="text-center mb-4 text-6xl font-extrabold leading-none tracking-tight text-gray-900"
        >
          Dir Maker
        </h1>
        <p
          class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
        >
          Please input the plain text of your directory structure into the
          textarea on the left. By adding a space at the beginning of the text,
          the directory structure will be displayed in the textarea on the
          right!
        </p>
      </div>
      <div class="flex w-full gap-8">
        <Textarea client:load />
      </div>
    </div>
  </body>
</html>
