---
import { FormattedTextDisplayArea } from '../components/FormattedTextDisplayArea/FormattedTextDisplayAres';
import Header from '../components/Header.astro';
import PageHead from '../components/PageHead.astro';
import '../styles/global.css';
---

<style>
  .body {
    display: grid;
    grid-template-rows: 64px 1fr;
    width: 100dvw;
    height: 100dvh;
  }

  .main {
    width: min(100%, 1280px);
    margin-inline: auto;
  }

  .heading {
    color: var(--text-color-gray-900);
    font-size: var(--text-size-xl);
    font-weight: var(--font-weight-extra-bold);
    text-align: center;
  }

  .description {
    padding-inline: var(--spacing-lg);
    margin-block-end: var(--spacing-lg);
    color: var(--text-color-gray-500);
    font-size: var(--text-size-md);
    text-align: center;
  }
</style>

<html lang="en">
  <PageHead />
  <body class="body">
    <Header />
    <main class="main">
      <h1 class="heading">Dir Maker</h1>
      <p class="description">
        Please input the plain text of your directory structure into the
        provided textarea.
        <br />
        Adding a space at the beginning of the text will convert it into a formatted
        directory structure!
      </p>
      <FormattedTextDisplayArea client:only="react" />
    </main>
  </body>
</html>
