.container {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  cursor: pointer;
}

.label {
  font-size: 12px;
  color: var(--text-color-secondary);
}

.input {
  display: none;
}

.switch {
  position: relative;
  width: 36px;
  height: 20px;
  background-color: var(--border-color-gray);
  border-radius: 10px;
  transition: background-color var(--transition-duration-short);
}

.switch::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform var(--transition-duration-short);
}

.input:checked + .switch {
  background-color: var(--color-accent);
}

.input:checked + .switch::after {
  transform: translateX(16px);
}
