.wrapper {
  container: wrapper / inline-size;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  padding-inline: var(--spacing-xl);
  column-gap: var(--spacing-xl);
  row-gap: var(--spacing-sm);
}

@media (width < 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-md);
  }
}

.button {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: flex-end;
}

@media (width < 768px) {
  .button {
    display: none;
  }
}

.formattedTextarea {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  height: 512px;
  padding: var(--spacing-sm);
  color: var(--text-color-gray-900);
  border: 1px solid var(--border-color-gray);
  border-radius: var(--border-radius-md);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  white-space: pre;
  overflow: auto;
}

  @media (width < 768px) {
  .formatted-textarea {
    height: 320px;
  }
}
