
.textarea {
  grid-column-start: 1;
  grid-row-start: 2;
  height: 32rem;
  padding: var(--spacing-md);
  color: var(--text-color-primary);
  background-color: var(--color-white);
  border: 1px solid var(--border-color-gray);
  border-radius: 0.5rem;
  overflow-y: auto;
}

@media (width < 768px) {
  .textarea {
    height: 20rem;
  }
}
