.body {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--color-slate-50);
}

.main {
  width: min(100%, 1280px);
  margin-inline: auto;
  padding-block: var(--spacing-lg);
}
