.body {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  min-height: 100dvh;
  background-color: var(--background-page);
}

.main {
  display: grid;
  align-content: center;
  width: min(100%, 1280px);
  margin-inline: auto;
  padding-block: var(--spacing-lg);
}
